---
layout: page
title: 下載 Swift
---
<h2 id="latest-development-snapshots">最新開發版 snapshot</h2>

<p>開發版 snapshot 是指從master branch自動編譯的binary。這些 snapshot 不是官方發行版本。它們通過自動化單元測試，但它們沒有通過正式版本的全面測試。</p>

<table id="latest-builds" class="downloads">
  <thead>
    <tr>
      <th class="platform">平台</th>
      <th class="download">下載</th>
      <th class="date">日期</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td class="platform">Apple</td>

      <td class="download">
        <span class="release">
          <a title="下載" href="{{ site.data.latest_build_urls[0] }}" download="">Xcode Swift 2.2 Snapshot</a>

        </span>

        <span class="debug">
          <a href="{{ site.data.latest_build_urls[1] }}" download="">Debugging Symbols</a>

        </span>

      </td>
      <td class="date">
        {% assign tt = site.data.latest_build_times[0] %}
        {% include update_time_tag.html param=tt %}
      </td>
    </tr>

    <tr>

      <td class="platform">Linux</td>

      <td class="download">
        <span class="release">
          <a title="下載" href="{{ site.data.latest_build_urls[2] }}" download="">Ubuntu 15.10 Swift 2.2 Snapshot</a>

          <a title="PGP簽章" href="{{ site.data.latest_build_urls[3] }}">Signature</a>

        </span>

      </td>
      <td class="date">
        {% assign tt = site.data.latest_build_times[1] %}
        {% include update_time_tag.html param=tt %}
      </td>
    </tr>

    <tr>

      <td class="platform">Linux</td>

      <td class="download">
        <span class="release">
          <a title="下載" href="{{ site.data.latest_build_urls[4] }}" download="">Ubuntu 14.04 Swift 2.2 Snapshot</a>

          <a title="PGP簽章" href="{{ site.data.latest_build_urls[5] }}">Signature</a>

        </span>

      </td>
      <td class="date">
        {% assign tt = site.data.latest_build_times[2] %}
        {% include update_time_tag.html param=tt %}
      </td>
    </tr>

  </tbody>
</table>

<p>Swift 使用 Swift 許可證 <a href="/LICENSE.txt">swift.org/LICENSE.txt</a> </p>

<h2 id="apple-platforms">Apple 平台</h2>

<p>Xcode 包括 Apple 官方版本的 Swift。你可以下載上面的package 來嘗試目前開發中的版本。</p>

<div class="warning">
  <p>開發版 Swift 目前不支援 Playground。</p>
</div>

<div class="danger">
  <p>你必須使用Xcode 內建的官方版 Swift 來編譯 App 才能上架至 App Store。</p>
</div>

<h4 id="requirements-for-tools">系統需求</h4>

<ul>
  <li>OS X 10.11 (El Capitan)</li>
  <li>
    <a href="https://developer.apple.com/xcode/">Xcode 7.2</a>（包括 prerelease 版）</li>
</ul>

<h4 id="supported-target-platforms">支援的平台</h4>

<ul>
  <li>OS X 10.9.0或更高版本</li>
  <li>iOS 7.0或更高版本</li>
  <li>watchOS 2.0或更高版本</li>
  <li>tvOS 9.0或更高版本</li>
</ul>

<hr>

<h3 id="installation">安裝</h3>

<ol>
  <li>
    <p>下載<a href="/download">最新的 package</a> 。</p>
  </li>
  <li>
    <p>執行Package 安裝檔來將Xcode工具鏈安裝至<code class="highlighter-rouge">/Library/Developer/Toolchains/</code></p>

    <p>Xcode 工具鏈(<code class="highlighter-rouge">.xctoolchain</code>)包括特定版本的 Swift 編譯器，LLDB，還有相關開發工具。</p>
  </li>
  <li>
    <p>如果Xcode正在執行中，關閉它。</p>
  </li>
  <li>
    <p>使用你下載的開源版工具鏈來啟動Xcode：</p>

    <div class="highlighter-rouge">
      <pre class="highlight"><code><span class="gp">$ </span>xcrun launch-with-toolchain /Library/Developer/Toolchains/swift-latest.xctoolchain
      </code></pre>
    </div>

    <p><code class="highlighter-rouge">swift-latest.xctoolchain</code>是你最近安裝的工具鏈的 symbolic link，如<code class="highlighter-rouge">swift-2.2-SNAPSHOT-2015-12-01-a.xctoolchain</code>。工具鏈的名稱是它從<code class="highlighter-rouge">master</code> branch （最新開發進度） build 出來的日期。</p>

    <p>當使用 <code class="highlighter-rouge">launch-with-toolchain</code> 來啟動Xcode時 ，Xcode會使用你下載的工具鏈來build ，debug，還有進行自動完成和語法著色。關閉 Xcode 後，重新啟動 Xcode 時需要再一次使用<code class="highlighter-rouge">launch-with-toolchain</code>來使用下載的工具鏈。否則 Xcode 會使用預設工具鏈來啟動。</p>
  </li>
  <li>
    <p>要直接在 command line 中使用 Swift 的話，需要將 Swift 工具鏈加進到你的 path，如下所示：</p>

    <div class="highlighter-rouge">
      <pre class="highlight"><code><span class="gp">$ </span><span class="nb">export </span><span class="nv">PATH</span><span class="o">=</span>/Library/Developer/Toolchains/swift-latest.xctoolchain/usr/bin:<span class="s2">"</span><span class="k">${</span><span class="nv">PATH</span><span class="k">}</span><span class="s2">"</span>
      </code></pre>
    </div>
  </li>
</ol>

<h3 id="code-signing-on-os-x">OS X上的 Code Signing</h3>

<p>OS X的<code class="highlighter-rouge">.pkg</code>檔案使用Swift open source project 的開發者ID來簽署數位簽章以確保沒被竄改過。Package 中所有執行檔也都有數位簽章。</p>

<p>OS X的 Swift 工具鏈安裝程式應該在標題欄右側顯示一個鎖頭圖案。點擊鎖頭會顯示簽章的詳細資訊。簽章者應該是
  <code class="highlighter-rouge">Developer ID Installer: Swift Open Source (V9AUD2URP3)</code>.</p>

<div class="warning">
  <p>如果沒有顯示鎖頭或簽章不是從 Swift open source 產生的，請不要繼續安裝。請離開安裝程式，並將詳細內容傳至<a href="mailto:swift-infrastructure@swift.org">swift-infrastructure@swift.org</a>，我們會進一步調查。</p>
</div>

<h3 id="older-releases">過去版本</h3>

<table id="osx-builds" class="downloads">
  <thead>
    <tr>
      <th>下載</th>
      <th>日期</th>
    </tr>
  </thead>
  <tbody>
    {% for build in site.data.osx_builds %}
    {% include osx_build_tr.html param=build %}
    {% endfor %}
  </tbody>
</table>

<h2 id="linux">Linux</h2>

<p>Linux 版的 Package 是一個 tar 檔，包括 Swift 編譯器，LLDB，以及相關開發工具。你可以安裝在任何地方，只要你把安裝位置加入<code class="highlighter-rouge">PATH</code> 中就能正常運作。</p>

<p>請注意，這並不代表 Swift 不能在其他 Linux 發行版上執行。只是在這些發行版上有進行過測試。</p>

<h4 id="requirements">系統需求</h4>

<ul>
  <li>Ubuntu 14.04 或 15.10（64位元）</li>
</ul>

<h4 id="supported-target-platforms-1">支援的系統</h4>

<ul>
  <li>Ubuntu 14.04或15.10（64位元）</li>
</ul>

<hr>

<h3 id="older-releases-1">過去版本</h3>

<table id="linux-builds" class="downloads">
  <thead>
    <tr>
      <th>下載</th>
      <th>日期</th>
    </tr>
  </thead>
  <tbody>
    {% for build in site.data.ubuntu_15_builds %}
    {% include ubuntu_build_tr.html param=build %}
    {% endfor %}
  </tbody>
</table>

<table id="linux-builds" class="downloads">
  <thead>
    <tr>
      <th>下載</th>
      <th>日期</th>
    </tr>
  </thead>
  <tbody>
    {% for build in site.data.ubuntu_14_builds %}
    {% include ubuntu_build_tr.html param=build %}
    {% endfor %}
  </tbody>
</table>

<h3 id="installation-1">安裝</h3>

<ol>
  <li>
    <p>安裝必要的套件：</p>

    <div class="highlighter-rouge">
      <pre class="highlight"><code><span class="gp">$ </span>sudo apt-get install clang libicu-dev
      </code></pre>
    </div>
  </li>
  <li>
    <p>下載上方的最新版本。</p>

    <p><code class="highlighter-rouge">swift-&lt;版本&gt;-&lt;平台&gt;.tar.gz</code>檔案是工具鏈。<code class="highlighter-rouge">.sig</code>文件是數位簽章。</p>
  </li>
  <li>
    <p>如果您是<strong>第一次</strong>下載 Swift，將PGP秘鑰加進你的keyring：</p>

    <div class="highlighter-rouge">
      <pre class="highlight"><code><span class="gp">$ </span>gpg --keyserver hkp://pool.sks-keyservers.net <span class="se">\</span>
      --recv-keys <span class="se">\</span>
      <span class="s1">'7463 A81A 4B2E EA1B 551F  FBCF D441 C977 412B 37AD'</span> <span class="se">\</span>
      <span class="s1">'1BE1 E29A 084C B305 F397  D62A 9F59 7F4D 21A5 6D5F'</span>
      </code></pre>
    </div>

    <p>或是：</p>

    <div class="highlighter-rouge">
      <pre class="highlight"><code><span class="gp">$ </span>wget -q -O - https://swift.org/keys/all-keys.asc | gpg --import -
      </code></pre>
    </div>

    <p>如果你曾經加過這些秘鑰，跳過這一步。</p>
  </li>
  <li>
    <p>驗證PGP簽章。</p>

    <p>Linux版的<code class="highlighter-rouge">.tar.gz</code>檔，使用GnuPG和Swift open source project 的秘鑰簽章過。我們推薦大家在使用前先驗證簽章。</p>

    <p>首先，更新公鑰：</p>

    <div class="highlighter-rouge">
      <pre class="highlight"><code><span class="gp">$ </span>gpg --keyserver hkp://pool.sks-keyservers.net --refresh-keys Swift
      </code></pre>
    </div>

    <p>然後使用數位簽章來驗證檔案是否完整：</p>

    <div class="highlighter-rouge">
      <pre class="highlight"><code><span class="gp">$ </span>gpg --verify swift-&lt;VERSION&gt;-&lt;PLATFORM&gt;.tar.gz.sig
...
gpg: Good signature from <span class="s2">"Swift Automatic Signing Key #1 &lt;swift-infrastructure@swift.org&gt;"</span>
      </code></pre>
    </div>

    <p>如果<code class="highlighter-rouge">gpg</code>因為沒有公鑰而無法驗證（<code class="highlighter-rouge">gpg: Can't check signature: No public key</code> ），請按照下面的<a href="#active-signing-keys">簽名密鑰</a>段落將秘鑰加入你的keyring。</p>

    <p>你可能會看到一個警告訊息：</p>

    <div class="highlighter-rouge">
      <pre class="highlight"><code>gpg: WARNING: This key is not certified with a trusted signature!
gpg:          There is no indication that the signature belongs to the owner.
      </code></pre>
    </div>

    <p>這警告代表你和這把秘鑰之間沒有有效的信賴網路路徑。只要你是按照上面的步驟來取得可信秘鑰，這警告是安全可以忽略的。</p>

    <div class="warning">
      <p>如果 <code class="highlighter-rouge">gpg</code> 無法驗證並回報 “BAD signature”，
        請不要使用該工具鍊。請將詳細內容傳至<a href="mailto:swift-infrastructure@swift.org">swift-infrastructure@swift.org</a>，我們會進一步調查。</p>
    </div>
  </li>
  <li>
    <p>解壓縮：</p>

    <div class="highlighter-rouge">
      <pre class="highlight"><code><span class="gp">$ </span>tar xzf swift-&lt;VERSION&gt;-&lt;PLATFORM&gt;.tar.gz
      </code></pre>
    </div>

    <p>這會在壓縮檔的所在目錄中建立一個<code class="highlighter-rouge">usr/</code>目錄。</p>
  </li>
  <li>
    <p>將工具鏈加進你的 path：</p>

    <div class="highlighter-rouge">
      <pre class="highlight"><code><span class="gp">$ </span><span class="nb">export </span><span class="nv">PATH</span><span class="o">=</span>/path/to/usr/bin:<span class="s2">"</span><span class="k">${</span><span class="nv">PATH</span><span class="k">}</span><span class="s2">"</span>
      </code></pre>
    </div>

    <p>現在你可以執行<code class="highlighter-rouge">swift</code>指令來執行 REPL 或build Swift project。</p>
  </li>
</ol>

<h3 id="active-signing-keys">簽名密鑰</h3>

<p>Swift project 的 snapshot 共用一組秘鑰，而每個正式發布版都有獨立的密鑰。我們使用4096位元RSA密鑰。</p>

<p>下面是用來簽署工具鏈 package 的秘鑰：</p>

<ul>
  <li>
    <p><code class="highlighter-rouge">Swift Automatic Signing Key #1 &lt;swift-infrastructure@swift.org&gt;</code></p>

    <dl>
      <dt>下載</dt>
      <dd><a href="https://swift.org/keys/automatic-signing-key-1.asc">https://swift.org/keys/automatic-signing-key-1.asc</a></dd>
      <dt>Fingerprint</dt>
      <dd><code class="highlighter-rouge">7463 A81A 4B2E EA1B 551F  FBCF D441 C977 412B 37AD</code></dd>
      <dt>Long ID</dt>
      <dd><code class="highlighter-rouge">D441C977412B37AD</code></dd>
    </dl>

    <p>要匯入公鑰，執行：</p>

    <div class="highlighter-rouge">
      <pre class="highlight"><code><span class="gp">$ </span>gpg --keyserver hkp://pool.sks-keyservers.net <span class="se">\</span>
      --recv-keys <span class="se">\</span>
      <span class="s1">'7463 A81A 4B2E EA1B 551F  FBCF D441 C977 412B 37AD'</span>
      </code></pre>
    </div>

    <p>或是：</p>

    <div class="highlighter-rouge">
      <pre class="highlight"><code><span class="gp">$ </span>wget -q -O - https://swift.org/keys/automatic-signing-key-1.asc | gpg --import -
      </code></pre>
    </div>
  </li>
  <li>
    <p><code class="highlighter-rouge">Swift 2.2 Release Signing Key &lt;swift-infrastructure@swift.org&gt;</code></p>

    <dl>
      <dt>下載</dt>
      <dd><a href="https://swift.org/keys/release-key-swift-2.2.asc">https://swift.org/keys/release-key-swift-2.2.asc</a></dd>
      <dt>Fingerprint</dt>
      <dd><code class="highlighter-rouge">1BE1 E29A 084C B305 F397  D62A 9F59 7F4D 21A5 6D5F</code></dd>
      <dt>Long ID</dt>
      <dd><code class="highlighter-rouge">9F597F4D21A56D5F</code></dd>
    </dl>

    <p>要匯入公鑰，執行：</p>

    <div class="highlighter-rouge">
      <pre class="highlight"><code><span class="gp">$ </span>gpg --keyserver hkp://pool.sks-keyservers.net <span class="se">\</span>
      --recv-keys <span class="se">\</span>
      <span class="s1">'1BE1 E29A 084C B305 F397  D62A 9F59 7F4D 21A5 6D5F'</span>
      </code></pre>
    </div>

    <p>或是：</p>

    <div class="highlighter-rouge">
      <pre class="highlight"><code><span class="gp">$ </span>wget -q -O - https://swift.org/keys/release-key-swift-2.2.asc | gpg --import -
      </code></pre>
    </div>
  </li>
</ul>

