<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-swift-org">
    <!-- TOP RIGHT RIBBON: START COPYING HERE -->
    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon">
        <a href="https://github.com/swift-tw/swift-tw.github.io">Fork me on GitHub</a>
      </div>
    </div>
    <!-- TOP RIGHT RIBBON: END COPYING HERE -->


    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
